.set_label_ara {
	float: right;
}
.rotate_text {
	transform: rotate(-90deg);
	position: absolute;
	top: 300px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 10px;
}
.set_arabic_text {
	margin: 39px 0 0 0;
}
.set_arabic_text_next {
	margin: 29px 0 0 0;
}
.set_eval {
	margin: 26px 0 0 0;
}
.set_eval_next {
	margin: 5px 0 0 0;
}
.set_dynamic_text {
	margin: 15px 0 15px 0;
	border: none;
}
