@media print {
   body {
      -webkit-print-color-adjust: exact;
   }
}

html {
	height: 100%;
	box-sizing: border-box;
}
.player_form .form-control {
	border: none;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background:none;
  
}
#plan_data {
	border:none;
}
.wrapper {
	min-height: 100vh;
	padding-bottom: 100px;
	overflow: hidden;
	display: block;
	position: relative;
}
h1 {
	text-align:  center;
	letter-spacing: 2px;
	font-weight: 600;
	font-family: Times New Roman;
	margin: 30px 0 30px 0;
}
.new_wrap {
	width: 250px;
	height: auto;
	margin: auto;
	margin-top: 10%;
	margin: 30px auto;
}
.form-control {
	background: transparent;
	color: #090;
}
table td {
	color: #090;
}
.player_table table th{
	font-size: 12px;
}
.player_table table td {
	font-size: 11px;
}
.save {
	float: right;
	margin: 0 0 16px 0;
}
.first_tb_data {
	font-weight: bold;
	text-align: left;
}
.set_date {
	border: none;
	background-color: transparent;
}
.nav_section {
	min-height: 235vh;
	padding-bottom: 100px;
	overflow: hidden;
	display: block;
	position: relative;
	height: auto;
}
.nav_section .container-fluid {
	padding-left: 0;
	padding-right:0; 
}
.navbar-collapse {
	position: relative;
}
.navbar-collapse ul {
	position: absolute;
	right: 10%;
}
.nav_section img {
	width: 150px;
	height: auto;
	padding: 0 0 0 24px;
}
.set_logo {
	width: 150px;
	height: auto;
	margin: 25px 0 18px 76px;
}
.aa {
	margin: 0 0 5px 0;
}
.aa::placeholder {
  font-size:12px; /* Firefox */
}
.file {
	margin: 10px 0 0 0;
}
.color_align {
    text-align: center;
}
.client_logo {
	width: 60px !important;
	height: auto;
	padding: 0 0 0 24px;
}
.set_position{
	float: left; font-size: 14px; position: absolute;left: 135px;
}
.set_position_2{
	float: left; font-size: 14px; position: absolute;left: 192px;
}
.set_topic {
	font-size: 12px;
	font-weight: bold;
}
.head_div {
	margin: 35px 0 20px 0;
	display: block;
	font-size: 12px;
	text-align: center;

}
.new_set_position {
	display: block;
}
.calculation {
	margin: 10px auto 0;
    width: 200px;
    border: 2px solid #8d1b3d;
    display: none;
	position: relative;
	right: -397px;
	top: 180px;
	color: #090;
}
.table-bordered td, .table-bordered th {
    text-align: center;
    border: 1px solid #8d1b3d !important;
}
.table-bordered th {
   background-color: #8d1b3d;
  color: #fff;

}
.week_title {
	border-top: 2px solid #8d1b3d;
	border-bottom: 2px solid #8d1b3d;
}
.time_dur {
	border-top: 2px solid #8d1b3d;
}
.set_label {
	display: block;
	float: left;
	font-size: 12px;
}
/* Footer*/

.red{
  color: red !important;
}

.footer {
	position: absolute;
	left: 0px;
	bottom: 0 !important;
	height: auto;
	width: 100%;
	text-align: center;
	background: #8d1b3d;
	color: #fff;
	z-index: 1;
}
.set_footer_data{
	padding: 0 0 0 5px;
}

.navbar-nav .dropdown-menu {
	background: transparent;
	border: 1px solid #8d1b3d;
	color: #090;
}
.add-field {
	margin: 20px 0 0 0;
}
.navbar {
	background:transparent !important;
}
.navbar-light .navbar-nav .nav-link {
	color: #090;
}
.month {
	color: #090;
}
.canvasjs-chart-canvas {
	transform: rotate(270deg) !important;
	left: 50px;
}
.remove-field {
	margin: 10px 0 0 0;
}

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .calculation {
  	right: 0;
  	top: 514px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .navbar-collapse ul {
  	position: relative !important;
  	float: right;
  	left: 0;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .navbar-collapse ul {
  	position: relative !important;
  	float: right;
  	left: 0;
  }
  .canvasjs-chart-canvas {
	width: 295px;
	height: 415px;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 .navbar-collapse ul {
  	position: relative !important;
  	float: right;
  	left: 0;
  }
  .canvasjs-chart-canvas {
	width: 295px !important;
	height: 415px !important;
  }
  .calculation {
  	top: 376px;
  	right: 0;
  }
  
}