<template>
    <div>

        <div class="m-modal" :class="{'shown':value}">
            <div class="m-modal-dialog">
                <div class="m-modal-content">
                    <h4>Add New Week</h4>
                    <div class="alert alert-danger mb-0" v-if="error">
                        {{error}}
                    </div>
                    <form action="" method="post" id="add-week-form" class="form row" @submit.prevent="save">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="week.start_date">Week Start From</label>
                            <date-picker v-model="week.start_date"></date-picker>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="week.age_group">Age Group</label>
                            <input type="text" name="week.age_group" v-model="week.age_group" id="week.age_group" class="form-control">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="week.logo">Logo</label>
                            <input type="file" ref="file" v-on:change="handleFileUpload()" name="week.logo" class="form-control">
                        </div>
                        <div class="form-group col-sm-12" v-if="week.start_date">
                            <strong>Week List</strong>
                            <div class="row">

                            <div class="col-sm-12 col-md-4">
                                {{$moment(week.start_date).format('dddd, LL')}}
                            </div>
                            <div v-for="(index) in 6" :key="index" class="col-sm-12 col-md-4">
                                {{$moment(week.start_date).add(index,'Days').format('dddd, LL')}}
                            </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 py-3">
                            <div class="float-right">
                                <button 
                                    type="button" 
                                    @click="CloseModal"
                                    class="btn btn-secondary">Cancel</button>
                                <button 
                                    type="submit" 
                                    :disabled="!isValid" 
                                    class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        value:Boolean
    },
    data() {
        return {
            loading:false,
            week:{
                start_date:"",
                age_group:"",
                logo:"",
            },
            error:null,
            momentFormat: {
                stringify: (date) => {
                    return date ? moment(date).format('LL') : ''
                },
                parse: (value) => {
                    return value ? moment(value, 'LL').toDate() : null
                }
            }
        }
    },
    computed: {
        isValid(){
            if(!this.week.start_date || !this.week.age_group)
            return false;
            else if (this.loading)
            return false;
            return true;
        }
    },
    methods: {
        handleFileUpload(){
            this.week.logo = this.$refs.file.files[0];
        },
        async save(){
            this.error = null;
            this.loading = true;
            let formData = new FormData();
            formData.append('logo', this.week.logo);
            formData.append('start_date', this.$moment(this.week.start_date).format('YYYY-MM-DD'));
            formData.append('age_group', this.week.age_group);
            this.$http.post("category",formData)
                .then(res=>{
                    this.$emit("success")
                    this.CloseModal();
                })
                .catch(error=>{
                    this.error = error;
                })
                .then(()=>{
                    this.loading = false;
                })
        },
        CloseModal(){
            this.week.start_date = "";
            this.week.age_group = "";
            this.week.logo = "";
            this.$emit('input',false);
        }
    },
}
</script>
<style lang="scss">
    .m-modal{
        display: none;
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        width:100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: 9;
    }
    .m-modal.shown{
        display: block;
    }
    .m-modal-dialog{
        position: absolute;
        width:50vw;
        height: 80vh;
        overflow: hidden;
        overflow-y: auto;
        margin:auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index: 8;
    }
    .m-modal-content{
        width:100%;
        height: auto;
        padding: 20px;
        background-color: rgba($color: #FFFFFF, $alpha: 1.0);
        border-radius: 2px;
    }
</style>