<template>
    <div>
        <button @click="updateChart" class="mb-3 btn btn-success btn-sm">Update Chart</button>
        <canvas ref="chart" width="400" height="400"></canvas>
    </div>
</template>
<script>
import Chart from 'chart.js'
    export default {
        props:{
            data:Array,
            value:Boolean
        },
        data() {
            return {
                chart:null,
            }
        },
        watch: {
            data(){
                this.updateChart();
            },
            value(){
                this.updateChart();
            },
        },
        mounted() {
            this.createChart();
        },
        methods: {
            updateChart(){
                this.removeData();
                let data = this.data.map(item=>{
                    this.addData(this.$moment(item.week_date).format('dddd'),item.rpe,item.intensity)
                });
                this.$emit('input',false)
            },
            removeData() {
                this.chart.data.labels = [];
                this.chart.data.datasets.forEach((dataset) => {
                    dataset.data = [];
                    dataset.backgroundColor = [];
                    dataset.borderColor = [];
                });
                this.chart.update();
            },
             addData(label, data,backgroundColor) {
                this.chart.data.labels.push(label);
                this.chart.data.datasets.forEach((dataset) => {
                    dataset.backgroundColor.push(backgroundColor);
                    dataset.borderColor.push(backgroundColor);
                    dataset.data.push(data);
            });
                this.chart.update();
            },
            createChart() {
                var ctx = this.$refs.chart.getContext('2d');
                this.chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [],
                        datasets: [{
                            label: '# of Votes',
                            data: [],
                            backgroundColor: [],
                            borderColor: [],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        legend: {
                            display: false,
                            labels: {
                                fontColor: 'rgb(255, 99, 132)'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        },
    }
</script>