<template>
    <div id="color-picker">
        <div class="wrapper-dropdown">
            <div class="input-group">
                <div class="p-2" :style="{background: selectedColor?selectedColor:'#000000'}"></div>
                <input class="form-control form-control-sm" readonly @click="toggleDropdown()" v-model="selectedColorName"/>
            </div>
            <ul class="dropdown" v-show="active">
                <li class="text-left" v-for="(color,index) in colors" :key="index" @click="setColor(color.hex, color.name)"><span
                        :style="{background: color.hex}"></span> {{color.name}}</li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        props:{
            value:String,
        },
        data() {
            return {
            active: false,
            selector:null,
            selectedColor: '',
            selectedColorName: '',
                colors: [
                    {
                        hex: '#FFFFFF',
                        name: 'White'
                    },
                    {
                        hex: '#F7941D',
                        name: 'Orange'
                    },
                    {
                        hex: '#FFFF00',
                        name: 'Yellow'
                    },
                    {
                        hex: '#A71930',
                        name: 'Red'
                    },
                    {
                        hex: '#000000',
                        name: 'Black'
                    },
                    {
                        hex: '#679146',
                        name: 'Green'
                    }
                ]
            }
        },
        watch: {
            value(){
                this.selectColor;
            }
        },
        created() {
                this.selectColor;
        },
        computed: {
            selectColor(){
                let c = this.colors.find(i=>i.hex == this.value);
                if(c)
                this.setColor(c.hex,c.name)                
            },
        },
        methods: {
            setColor: function (color, colorName) {
                this.selectedColor = color;
                this.selectedColorName = colorName;
                this.active = false;
                this.$emit('input',this.selectedColor)
            },
            toggleDropdown: function () {
                this.active = !this.active;
            },
        }
    }
</script>