<template>
    <div>
        <div class="alert alert-danger mb-2" v-if="error.status">
            {{error.message}}
        </div>        
        <div class="alert alert-success mb-2" v-if="success.status">
            {{success.message}}
        </div>        
                        <button 
                            v-if="this.weeklies.length"
                            @click="updateWeeks"
                            type="button"
                            class="btn float-right my-1 btn-success">Update</button>
        <table class="table table-sm table-bordered text-center" v-if="weeklies.length">
            <thead>
                <tr>
                    <th>Days</th>
                    <th v-for="(item, index) in weeklies" :key="index">
                        {{$moment(item.week_date).format('dddd')}}
                    </th>
                </tr>
            </thead>
            <tbody class="text-right">
                <tr>
                    <th>Date</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        {{$moment(item.week_date).format('MMMM Do YYYY')}}</td>
                </tr>
                <tr>
                    <th>Intensity</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <color-picker v-model="item.intensity"></color-picker>
                    </td>
                </tr>
                <tr>
                    <th>Training Aim</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="text" placeholder="Training Aim" name="item.aim" :id="`item.aim.${item.id}`"
                            class="form-control" v-model="item.aim" />
                    </td>
                </tr>
                <tr>
                    <th>Training Details</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <textarea name="item.aim" placeholder="Training Details" :id="`item.aim.${item.id}`"
                            class="form-control" v-model="item.details"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Tactical</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="number" placeholder="Tactical" name="item.tactical"
                            :id="`item.tactical.${item.id}`" v-model="item.tactical" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>Technical</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="number" placeholder="Technical" name="item.technical"
                            :id="`item.technical.${item.id}`" v-model="item.technical" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>Mental</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="number" placeholder="Mental" name="item.mental" :id="`item.mental.${item.id}`"
                            v-model="item.mental" class="form-control">
                    </td>
                </tr>                
                <tr class="border-secondary">
                    <th class="bg-secondary" colspan="8">Overall Session Detail</th>
                </tr>
                <tr>
                    <th>Warm Up</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="number" placeholder="Warm Up" name="item.warm_up" :id="`item.warm_up.${item.id}`"
                            v-model="item.warm_up" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>Phy</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="number" placeholder="Phy" name="item.phy" :id="`item.phy.${item.id}`"
                            v-model="item.phy" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>Coach</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="number" placeholder="Coach" name="item.coach" :id="`item.coach.${item.id}`"
                            v-model="item.coach" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>Cool</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="number" placeholder="Cool" name="item.cool" :id="`item.cool.${item.id}`"
                            v-model="item.cool" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td class="bg-light" v-for="(item, index) in weeklies" :key="index">{{getTotal(item)}}</td>
                </tr>
                <tr>
                    <th>RPE</th>
                    <td v-for="(item, index) in weeklies" :key="index">
                        <input type="number" placeholder="RPE" name="item.rpe" :id="`item.rpe.${item.id}`"
                            v-model="item.rpe" class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <chart-view :data="weeklies" v-model="updateChart"/>
            </div>
        </div>        
    </div>
</template>
<script>
export default {
    props:{
        weekId:String|Number,
    },
    watch: {
        weekId(){
            this.getWeeks()
        }
    },
    data() {
        return {
            weeklies:[],
            updateChart:false,
           error:{
                status:false,
                message:null
            },            
           success:{
                status:false,
                message:null
            },            
        }
    },
    methods: {
        getTotal(item){
            let {warm_up,phy,coach,cool} = item;
            let tot = Number(warm_up) + Number(phy) + Number(coach) + Number(cool);
            return tot ? tot :0;
        },        
        getWeeks(){
            this.loading = true;
            this.$http.get("week/"+this.weekId)
                .then(res=>{
                    this.weeklies = res.data;
                    this.updateChart = true;
                })
                .catch(error=>{
                    this.error.message = error;
                    this.error.status = true;
                })
                .then(()=>{
                    this.loading = false;
                })
        },
        async updateWeeks(){
            this.loading = true;
            return new Promise((resolve,reject)=>{
                this.weeklies.forEach(async element => {
                    await this.updateWeek(element);
                });
                resolve(true)
            })
            .finally(()=>{
                this.loading = false;
                this.success.message = "Update Success";
                this.success.status = true;
                setTimeout(() => {
                    this.success.message = null;
                    this.success.status = false;                    
                }, 3000);
            })
        },
        updateWeek(item){
            this.$http({
                method: 'put',
                url:"week/"+item.id+"/update",
                data: item
            })
            .then(res=>{
                return true;
            })
            .catch(error=>{
                this.error.message = error;
                this.error.status = true;
            })
        },        
    },
}
</script>