<template>
    <div class="text-center">
        <div v-if="loading" class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>
</template>
<script>
export default {
    props:{
        loading:Boolean
    }
}
</script>