<template>
    <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.php"><img class="img-responsive set_logo" src="images/Pro_Football_Coach_Logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a class="float-right rounded" v-if="logo" href="#"><img style="width:80px" :src="logo"></a></li>
        </ul>
    </div>
    </nav>
    <main>
        <extend @logo="AttachLogo"></extend>
    </main>   
    </div>
</template>
<script>
import Extend from "./Extend.vue";
export default {
    components:{
        Extend
    },
    data() {
        return {
            logo:false
        }
    },
    methods: {
        AttachLogo(logo){
            this.logo = logo;
        }
    },
}
</script>