<template>
    <div class="container">
        <div class="alert alert-danger" v-if="error.status">
            {{error.message}}
        </div>
        <div class="alert alert-success" v-if="success.status">
            {{success.message}}
        </div>
        <div class="float-right">
            <img :src="logo" class="logo rounded" v-if="logo"/>
        </div>
        <h1 class="display-4 text-left theme-color">Weekly Plan</h1>
        <preloader v-model="loading"/>
        <add-week v-model="add_new_modal" @success="getCategories"/>
    
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-8">
                <form action="" method="post" class="row">
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="category">Category</label>
                        <select v-model="category" id="category" class="form-control form-control-sm">
                            <option value="null" selected disabled>--Select Category--</option>
                            <option 
                                v-for="(item, index) in categories" 
                                :key="index" 
                                :value="item.age_group" v-text="item.age_group"></option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="week">Week</label>
                        <select v-model="week" id="week" class="form-control form-control-sm">
                            <option value="null" selected disabled>--Select Week--</option>
                            <option 
                                v-for="(item, index) in weeks" 
                                :key="index"
                                v-text="$moment(item.start_date).format('MMMM Do YYYY')"
                                :value="item.id"></option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12">

                    <button 
                    :disabled="loading"  
                    type="button"                      
                    @click="add_new_modal = true"
                    class="btn btn-sm btn-info">New</button>            
                    </div>
                </form>
            </div>
              <div class="col-sm-12 col-md-8 col-lg-12">
                <data-table :week-id="week"/>
            </div>
        </div>               
    </div>
</template>
<script>
import Chart from 'chart.js';
export default {
    data() {
        return {
            loading:false,
            logo:null,
            mainchart:null,
            add_new_modal:false,
            categories:[],
            weeks:[],
            category:null,
            week:null,
            weekly:null,
            error:{
                status:false,
                message:null
            },
            success:{
                status:false,
                message:null
            },
        }
    },
    watch: {
        category(){
            this.getCategory()
        },
        week(){
            if(this.week){
                let il = this.weeks.find(i=>i.id=this.week);
                this.$emit('logo',il.logo == "" ? '/api/uploads/default.png':'/api/'+il.logo)
            }
            else{
                this.logo = null;
            }
        },
    },
    created() {
        this.getCategories();
    },
    mounted() {
    },
    methods: {

        reset(){
            this.weeks  = [];
            this.weeklies  = [];
            this.week   = null;
            this.weekly   = null;
        },
        getCategories(){
            this.loading = true;
            this.category   = null;
            this.reset();
            this.$http.get("categories")
                .then(res=>{
                    this.categories = res.data;
                })
                .catch(error=>{
                    this.error.message = error;
                    this.error.status = true;
                })
                .then(()=>{
                    this.loading = false;
                })
        },
        getCategory(){
            this.loading = true;
            this.reset();
            this.$http.get("category/"+this.category)
                .then(res=>{
                    this.weeks = res.data;
                })
                .catch(error=>{
                    this.error.message = error;
                    this.error.status = true;
                })
                .then(()=>{
                    this.loading = false;
                })
        },
    },
}
</script>